.homepage-6 .welcome-area {
    background: rgba(0, 0, 0, 0) url("../img/radocc/foto_topo.jpg") no-repeat scroll center center / cover;
}
#sobre p {
    font-size: 16px;
    font-weight: 200;
    text-align: justify;
    text-indent: 4em;
    margin-bottom: 1rem;
    line-height: 24px;
}
.sub-title{
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.fs-20 {
    font-size: 20px;
}
.div-sobre-img {
    min-height: 450px;
    width: 100%;
    height: 100%;
}

.produto {
    display: flex;
    flex-direction: row;
    margin-bottom:8px;
}
.icone-produto{
    min-width: 60px;
    min-height: 60px;
    margin-right: 16px;
}

.icone-vprime{
    background: url('../img/radocc/vprime.webp') no-repeat scroll center center / cover;
}

.icone-rall{
    background: url('../img/radocc/rall.ico') no-repeat scroll center center / cover;
}

.icone-sysfarm{
    background: url('../img/radocc/farmsyst.webp') no-repeat scroll center center / cover;
}

.rd-col {
    display: flex;
    flex-direction: column;
}

.descritivo{
    text-transform: initial;
    white-space: pre-wrap;
}